{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cloud Database - {{.Title}}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/datatables.net-bs/dataTables.bootstrap.css">
 
    <link rel="shortcut icon" href="/res/favicon.ico">
    <style type="text/css">.up{color: green}.down{color: red}</style>
</head>
  <body>
    <div class="container">
      {{template "nav.html" .}}
      <div class="row">
      {{template "content" .}}
      </div>
    </div>
    <!-- Third party -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="/node_modules/datatables.net/js/dataTables.bootstrap.js"></script>

    <script src="/res/js/extra.js"></script>
  </body>
</html>
{{end}}