<h3>Your databases</h3>
<div class="col-md-12">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Database Name</th>
                <th>Vendor</th>
                <th>Connector</th>
                <th>Created</th>
                <th>Expires</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{range .Databases}}
                {{if .IsStatusOk}}
                    <tr class="table-success">
                {{else if .InProgress}}
                    <tr class="table-info">
                {{else}}
                    <tr class="table-danger">
                {{end}}
                <td>{{.DBName}}</td>
                <td>{{.DBVendor}}</td>
                <td>{{.ConnectorName}}</td>
                <td>{{.CreateDate}}</td>
                <td>{{.ExpiryDate}}</td>
                <td>{{.StatusLabel}}</td>
                <td>
                    {{if .InProgress}}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{.Progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.Progress}}%"></div>
                    </div>
                    {{else}}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/extend/{{.ID}}">Extend Expiry</a>
                            <a class="dropdown-item" href="/portalext/{{.ID}}">Portal-exts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/drop/{{.ID}}">Drop Database</a>
                        </div>
                    </div>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
