{{define "content"}}

{{if ne .Message ""}}
    <div class="col-md-12">
        <div class="alert alert-{{.MessageType}}">{{.Message}}</div>
    </div>
{{end}}

{{ if .HasEntry }}
<div class="col-md-12">
    {{template "properties.html" .}}
</div>
{{end}}

<div class="col-md-8">
    <h3>Cloud DB 2.0</h3>
    <p>The successor to the previous cloud database, this one is much more versatile and extensible.</p>
    <p>On the right, you can see the active <code>connectors</code>; These are the available databases in which you can create and import databases.</p>
    <p>Currently, the following database vendors are tested and supported:</p>
    <ol>
        <li>MySQL 5.5, 5.6, 5.7</li>
        <li>PostgreSQL 9.4 (not backend not yet created)</li>
        <li>Oracle 11g</li>
    </ol>
    <p>There are plans to add support for SQL Server as well</p>
    <p>Use the top nav to create or import a database.</p>
</div>
<div class="col-md-4">
    {{template "connectors.html" .}}
</div>

{{ if .HasDatabases }}
    {{template "databases.html" .}}
{{end}}


{{end}}