{{define "content"}}

{{if ne .Message ""}}
    <div class="col-md-12">
        <div class="alert alert-{{.MessageType}}">{{.Message}}</div>
    </div>
{{end}}

{{ if .HasEntry }}
<div class="col-md-12">
    {{template "properties.html" .}}
</div>
{{end}}

<div class="row">
    {{if .AnyOnline}}
        {{range .Connectors}}
            {{if .Up}}
            <div class="col"><i class="fa fa-check fa-fw up" aria-hidden="true"> </i>{{.ShortName}} ({{.LongName}})</div>
            {{else}}
            <div class="col"><i class="fa fa-exclamation-triangle fa-fw down" aria-hidden="true"> </i>  {{.ShortName}} ({{.LongName}})</div>
            {{end}}
        {{end}}
    {{else}}
    <div class="col">None of the connectors are online.</div>
    {{end}}
</div>

{{ if or .HasPrivateDBs .HasPublicDBs }}
    {{template "databases.html" .}}
{{end}}


{{end}}